*:focus {
  outline: none;
}

[click] {
  cursor: pointer;
}

body {
  background-color: #e9eaed;
  color: #141823;
  font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.hidden {
  display: none;
}

.jumbotron,
.btn,
.form-control {
  border-radius: 1px !important;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid;
  border-color: #e9eaed #dfe0e4 #d0d1d5;
}

.text-left {
  text-align: left !important;
}

.text-small {
  font-size: 0.8em;
}

a, a:hover {
  text-decoration: none;
}

.facebook-image {
  width: 50px;
  height: 50px;
}

.shared-menu > div {
  margin-right: 20px;
}
