.dashboard-new {
  padding-top: 50px;
  height: 200px;
}

.dashboard-image {
  width: 50px;
  height: 50px;
}

.thumbnail {
  border-radius: 1px !important;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid;
  border-color: #e9eaed #dfe0e4 #d0d1d5;
}

.thumbnail:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
