<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12 shared-menu">
      <div class="pull-left">
        <span class="glyphicon glyphicon-user"></span>
        <span class="icon-text">{{ user.facebook.displayName }}</span>
      </div>
      <div class="pull-left" click="create">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="icon-text">create new leaderboard</span>
      </div>
      <div class="pull-left" click="logout">
        <span class="glyphicon glyphicon-off"></span>
        <span class="icon-text">logout</span>
      </div>
    </div>
  </div>
  <br>
  <div class="row" repeat="leaderboard"></div>
</div>
