<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12 shared-menu">
      <div class="pull-left">
        <span class="glyphicon glyphicon-user"></span> {{ user.facebook.displayName }}        
      </div>
      <div class="pull-left" click="create">
        <span class="glyphicon glyphicon-pencil"></span> create new leaderboard
      </div>
      <div class="pull-left" click="logout">
        <span class="glyphicon glyphicon-off"></span> logout
      </div>
    </div>
  </div>
  <br>
  <div class="row" repeat="leaderboard"></div>
</div>
